.App {
  text-align: center;
}

.App p {
  font-size: 0.8em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  margin: 10px;
}

input {
  margin: 10px;
  height: 30px;
  border-radius: 5px;
}

.inputError {
  border:1px solid red;
}

.listTable {
  width: 80%;
  margin: auto;
  font-size:0.8em;
}

.listTable thead {
  background: #89a7e4;
}

.listTable tr:nth-child(2n) {
  background: rgb(196, 197, 199);
}